@utility light {
  --background: oklch(0.985 0.001 106.423);
  --foreground: oklch(0.216 0.006 56.043);
  --card: oklch(0.985 0.001 106.423);
  --card-foreground: oklch(0.216 0.006 56.043);
  --popover: oklch(0.985 0.001 106.423);
  --popover-foreground: oklch(0.216 0.006 56.043);
  --primary: oklch(0.6 0.118 184.704);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.923 0.003 48.717);
  --secondary-foreground: oklch(0.374 0.01 67.558);
  --muted: oklch(0.923 0.003 48.717);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.923 0.003 48.717);
  --accent-foreground: oklch(0.374 0.01 67.558);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0.001 106.423);
  --border: oklch(0.709 0.01 56.259);
  --input: oklch(0.7621 0.0156 98.3528);
  --ring: oklch(0.6 0.118 184.704);
  --chart-1: oklch(0.6 0.118 184.704);
  --chart-2: oklch(0.75 0.183 55.934);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.704 0.191 22.216);
  --sidebar: oklch(0.97 0.001 106.424);
  --sidebar-foreground: oklch(0.216 0.006 56.043);
  --sidebar-primary: oklch(0.6 0.118 184.704);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.923 0.003 48.717);
  --sidebar-accent-foreground: oklch(0.444 0.011 73.639);
  --sidebar-border: oklch(0.553 0.013 58.071);
  --sidebar-ring: oklch(0.374 0.01 67.558);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@utility dark {
  --background: oklch(0.216 0.006 56.043);
  --foreground: oklch(0.923 0.003 48.717);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.374 0.01 67.558);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.511 0.096 186.391);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.923 0.003 48.717);
  --secondary-foreground: oklch(0.268 0.007 34.298);
  --muted: oklch(0.374 0.01 67.558);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.444 0.011 73.639);
  --accent-foreground: oklch(0.869 0.005 56.366);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0.001 106.423);
  --border: oklch(0.444 0.011 73.639);
  --input: oklch(0.374 0.01 67.558);
  --ring: oklch(0.6 0.118 184.704);
  --chart-1: oklch(0.6 0.118 184.704);
  --chart-2: oklch(0.75 0.183 55.934);
  --chart-3: oklch(0.715 0.143 215.221);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.704 0.191 22.216);
  --sidebar: oklch(0.374 0.01 67.558);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.97 0.001 106.424);
  --sidebar-accent: oklch(0.216 0.006 56.043);
  --sidebar-accent-foreground: oklch(0.923 0.003 48.717);
  --sidebar-border: oklch(0.444 0.011 73.639);
  --sidebar-ring: oklch(0.444 0.011 73.639);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
