@layer utilities {
  .article {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 2;
    color: var(--color-foreground);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5em;
      line-height: 1.5;
      font-weight: var(--font-weight-bold);
      text-wrap: initial;
      word-break: auto-phrase;
      letter-spacing: 0em;
      font-feature-settings: "palt";
    }

    p,
    ul,
    ol,
    table,
    img,
    pre,
    blockquote,
    dl,
    iframe {
      margin-top: 1.25em;
    }

    p + p {
      margin-top: 1.25em;
    }

    h1 {
      font-size: 2em;

      @media only screen and (max-width: 640px) {
        font-size: 1.75em;
      }
    }

    h2 {
      font-size: 1.75em;

      @media only screen and (max-width: 640px) {
        font-size: 1.5em;
      }
    }

    h3 {
      padding-bottom: 0.25em;
      border-bottom: 1px solid var(--color-border);
      font-size: 1.25em;
    }

    h4 {
      font-size: 1.125em;
    }

    h5 {
      font-size: 1em;
    }

    a {
      color: var(--color-primary);
      text-decoration: underline;
    }

    hr {
      margin: 3em 0;
      width: 100%;
      height: 2px;
      border: none;
      background-color: var(--color-border);
    }

    div:has(table) {
      overflow-x: scroll;
    }

    table {
      min-width: 100%;
    }

    th {
      text-align: center;
    }

    td:first-child {
      vertical-align: middle;
    }

    th,
    td {
      white-space: nowrap;
    }

    ul {
      padding-left: 1.5em;
      list-style: disc;
    }

    ol {
      padding-left: 1.75em;
      list-style: decimal;
    }

    td ul,
    li ul,
    td ol,
    li ol {
      margin-top: 0;
    }

    li {
      padding: 0.15em 0;
    }

    pre {
      padding: 0.8em;
      background-color: #f0f0f0;
      line-height: 1.5;
      border-radius: var(--radius-md);
      overflow: scroll;
    }

    code {
      padding: 0.2em 0.4em;
      background-color: #f0f0f0 !important;
      border-radius: var(--radius-md);
    }

    code,
    code * {
      font-family: var(--fonts-mono);
      line-height: 1.5;
      letter-spacing: 0;
    }

    pre > code {
      padding: 0 !important;
    }

    blockquote {
      padding: 0.4em 0.8em;
      border-left: 2px solid var(--color-border);
    }

    img {
      max-width: 100%;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}
