:root {
  --glass-glass: #bbbbbc;
  --glass-light: #fff;
  --glass-dark: #000;

  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;

  --saturation: 150%;
}

.dark {
  --glass-glass: #bbbbbc;
  --glass-light: #fff;
  --glass-dark: #000;

  --glass-reflex-dark: 2;
  --glass-reflex-light: 0.3;

  --saturation: 150%;
}

@layer utilities {
  .glass {
    border: none;
    border-radius: 99em;
    background-color: color-mix(in srgb, var(--glass-glass) 12%, transparent);
    backdrop-filter: blur(8px) url(#switcher) saturate(var(--saturation));
    -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
    box-shadow:
      inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--glass-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
      inset 1.8px 3px 0px -2px
      color-mix(
        in srgb,
        var(--glass-light) calc(var(--glass-reflex-light) * 90%),
        transparent
      ),
      inset -2px -2px 0px -2px
      color-mix(
        in srgb,
        var(--glass-light) calc(var(--glass-reflex-light) * 80%),
        transparent
      ),
      inset -3px -8px 1px -6px
      color-mix(
        in srgb,
        var(--glass-light) calc(var(--glass-reflex-light) * 60%),
        transparent
      ),
      inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--glass-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
      inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--glass-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
      inset 0px 3px 4px -2px
      color-mix(
        in srgb,
        var(--glass-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
      inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--glass-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
      0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--glass-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
      0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--glass-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
    transition:
      background-color 400ms cubic-bezier(1, 0, 0.4, 1),
      box-shadow 400ms cubic-bezier(1, 0, 0.4, 1);
  }
}
